<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入database.properties文件 -->
	<properties resource="database.properties" />
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<!-- 配置别名 -->
	<typeAliases>
		<package name="pojo" />
	</typeAliases>
</configuration>



